    <div class="row">
        <div class="col-md-8">
            <div class="media">
                <div class="media-body">
                    <%= image_tag @user.image.to_s %>
                    <div class="text-center mt-3 mb-1">
                        <% unless current_user ==  @user %>
                            <% unless current_user.relationship(@user) %>
                                <%= button_to "Follow", relationships_path, params: {followed_id: @user.id}, class: "btn btn-sm btn-success" %>
                            <% else %>
                                <%= button_to "Unfollow", relationship_path(current_user.relationship(@user)), method: :delete, class: "btn btn-sm btn-danger" %>
                            <% end %> 
                        <% end %>
                    </div>
                    <h2 class="text-center"><%= @user.name %></h2>
                    <div class="col m-2">
                    <h3>
                        <%= link_to @user.active_relationships.count, following_user_path(@user) %>
                    </h3>
                    following
                    </div>
                    <div class="col m-2">
                    <h3>
                        <%= link_to @user.passive_relationships.count, followers_user_path(@user) %>
                    </h3>
                    followers
                    </div>      
                </div>
            </div>
        </div>
    </div>
