<header class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <div class="container">
        <%= link_to "Elerning System", root_path, class: "navbar-brand" %>

        <ul class="navbar-nav ml-auto">
        <% if signed_in? %>
            <li class="nav-item">
                <%= link_to "Manage Categories", '#', class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Dashbord", '#', class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Category", '#', class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Members", '#', class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Profile", '#', class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Setting", '#', class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Log out", signout_path, method: :delete, class: "nav-link" %>
            </li>

        <% else %>
            <li class="nav-item">
                <%= link_to "Sign up", signup_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Sing in", signin_path, class: "nav-link" %>
            </li>
        <% end %>
        </ul>
    </div>
</header>