<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
            <%= csrf_meta_tags %>
            <%= csp_meta_tag %>

            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
            <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
     </head>

    <body>
        <%= render 'layouts/header' %>
        <div class="container">
            <% if flash.any? %>
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>
